



<div class="grid_12">

	<div class="box round first fullpage">
		<h2>Profile</h2>
		<div class="block">

			<div data-type="company" data-id="company" class="info active">
				<table class="form">
                        <tr>
                            <td class="col1">
                                <label>
                                   Company Name</label>
                            </td>
                            <td class="col2">
                                <input type="text" id="grumble" class="mini" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    Established</label>
                            </td>
                            <td>
                                <input type="text" class="mini"/>
                            </td>
                           
                        </tr>
                        <tr>
                            <td>
                                <label>
                                   Domain Name</label>
                            </td>
                            <td>
                                <input type="text" class="mini"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                   Industry Type</label>
                            </td>
                            <td>
                            <select id="select" name="select"  class="mini">
									<option value="0"> -------------------- Select Industry Type -------------------- </option>
                                    <option value="1"> Agriculture Products & Services </option>
                                    <option value="2"> Architectural, Engineering & Technical	 </option>
                                    <option value="3"> Business Consultancy & Advisory </option>
									<option value="4"> Computer & IT Products & Services </option>
                                </select> 
                         
                           </td>
                        </tr>
						 <tr>
                            <td>
                                <label>
                                  Current Activity</label>
                            </td>
                            <td>
                                <textarea  cols="15" rows="6"></textarea>
                            </td>
                        </tr>
                        
                       
                        <tr>
                            <td>
                                <label>
                                    Brief Profile</label>
                            </td>
                            <td>
                            <textarea  cols="15" rows="6"></textarea>
                            </td>
							
                        </tr>
                       <tr>
					   <td colspan="2" align="center">
							<button class="btn btn-grey step" data-type="contact" style="float:right;padding-left: 20px">Next</button>
							
					   </tr>
					   
                        </table>
			
			</div>
			<div data-type="contact" data-id="contact" class="info">
				<table class="form">
                        <tr>
                            <td class="col1">
                                <label>
                                   Office Address</label>
                            </td>
                            <td class="col2">
                                <input type="text" id="grumble" class="mini" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    Phone</label>
                            </td>
                            <td>
                                <input type="text" class="mini" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                 Fax</label>
                            </td>
                            <td>
                                <input type="text" class="mini"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                   Email</label>
                            </td>
                            <td>
                                <input type="text" class="mini"/>
                            </td>
                        </tr>
						 <tr>
                            <td>
                                <label>
                                 Contact Person  Name</label>
                            </td>
                            <td>
                                <input type="text" class="mini"/>
                            </td>
                        </tr>
                        
                       
                        <tr>
                            <td>
                                <label>
                                    Designation in Company</label>
                            </td>
                            <td>
                                <input type="text" class="mini" />
                            </td>
                        </tr>
						 <tr>
                            <td>
                                <label>
                                   Phone</label>
                            </td>
                            <td>
                                <input type="text" class="mini" />
                            </td>
                        </tr>
						<tr>
                            <td>
                                <label>
                                   Fax</label>
                            </td>
                            <td>
                                <input type="text" class="mini" />
                            </td>
                        </tr>
						<tr>
                            <td>
                                <label>
                                   Email</label>
                            </td>
                            <td>
                                <input type="text" class="mini" />
                            </td>
							</tr>
							<tr>
					   <td colspan="2" >
							<button class="btn btn-grey step" data-type="company" style="float:left;padding-left: 20px">Back</button>
							
							<button class="btn btn-orange" id="submit" style="float:right;padding-right: 20px">Submit</button>
							</td>
					   </tr>
                       
                       
                       
       </table>

			</div>
			


		</div>
	</div>
</div>
