<div class="container_12">
	<div class="grid_10">
		<div class="box round first grid">
		    <h2>
		        Resent Jobs Posted
		    </h2>
		    <div class="block">
	       		<table class="data display datatable" id="example">
					<thead>
						<tr>
							<th class="sorting">Job Id</th>
							<th class="sorting">Job Title</th>
							<th class="sorting">Location</th>
							<th class="sorting">Date Posted</th>
							<th class="sorting">Interest Received</th>
							
						</tr>
					</thead>
					<tbody>
						<tr class="odd gradeX">
							<td>JE0002</td>
							<td>Java J2ee /lead /Tech Lead (Full Time Pr)</td>
							<td>Windsor, CT</td>
							<td class="center">Feb-08-2013</td>
							<td>109</td>
						</tr>
						<tr class="even gradeX">
						<td>JD0006</td>
							<td>Java Developer</td>
							
							<td>New York, NY</td>
							<td class="center">Feb-11-2013</td>
							<td>30</td>
						</tr>
						<tr class="odd gradeX">
						<td>WD0015</td>
							<td>Web Developer - Java, Maven, Hudson, Spring, Weblogic</td>
							
							<td>Columbus, OH</td>
							<td class="center">Feb-14-2013</td>
							<td>90</td>
						</tr>
						
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="box round first grid">
		    <h2>
		        Jobs 
		    </h2>
		    <div class="block">
	       		<table class="data display datatable" id="example">
					<thead>
						<tr>
							<th class="sorting">Quarterly</th>
							<th class="sorting">No of Jobs Posted</th>
							<th class="sorting">No of Resumes Received</th>
							<th class="sorting">No Resumes Short Listed</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd gradeX">
							<td>JAN 2013 to MAR 2013</td>
							<td class="center">500</td>
							<td class="center">20000</td>
							<td class="center">10000</td>
						</tr>
						<tr class="odd gradeX">
							<td>OCT 2012 to DEC 2012</td>
							<td class="center">200</td>
							<td class="center">5000</td>
							<td class="center">8000</td>
						</tr>
						<tr class="odd gradeX">
							<td>JUL 2012 to AUG 2012</td>
							<td class="center">1500</td>
							<td class="center">2000</td>
							<td class="center">100</td>
						</tr>
						<tr class="odd gradeX">
							<td>APR 2013 to JUN 2013</td>
							<td class="center">2500</td>
							<td class="center">2000</td>
							<td class="center">1000</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
	</div>
	<div class="grid_2">
		<div class="box round first grid">
		    <h2>
		        &nbsp;
		    </h2>
		    <div class="block">
		    	<div class="chart">
	                 
                 </div>
		    </div>

		</div>
		
		
	</div>
</div>

<div class="container_12">
	<div class="grid_10">
	</div>
	
</div>
