
 <div class="grid_2">

            <div class="box round first grid" style="height: 500px;">
              <h2>
                    Skills  </h2>
                <div class="block">
                
                 <table class="data display datatable">
						<thead>
							<tr>
							</tr>
						</thead>
						<tbody>
							<tr  class="gradeA even selected">
								<td ><a  class="filter menuitem">Any</a></td>
							</tr>
							
							<tr  class="gradeA even">
								<td ><a  class="filter menuitem">JAVA</a></td>
							</tr>
							<tr  class="gradeA even">
								<td ><a  class="filter menuitem">JMS </a></td>
							</tr>
							<tr  class="gradeA even">
								<td ><a  class="filter menuitem">DotNet </a></td>
							</tr>
							<tr  class="gradeA even">
								<td ><a  class="filter menuitem">Ruby </a></td>
							</tr>
							<tr  class="gradeA even">
								<td ><a  class="filter menuitem">JEE</a></td>
							</tr>
							<tr  class="gradeA even">
								<td ><a  class="filter menuitem">Grails</a></td>
							</tr>
							<tr  class="gradeA even">
								<td ><a  class="filter menuitem">Spring</a></td>
							</tr>
						</tbody>
					</table>
                    <!--  <ul class="section menu" id="sidemenu">
                    	<li><a class="menuitem" id="all">View All Courses</a></li>
                        <li><a class="menuitem" id="sap">SAP</a></li>
                        <li><a class="menuitem" id="java">JAVA</a></li>
                        <li><a class="menuitem" id="informatica">Informatica</a></li>
                        <li><a class="menuitem" id="oracle">Oracle</a>  </li>
   						<li><a class="menuitem" id="microsoft">Microsoft</a></li>
                        <li><a class="menuitem" id="cms">CMS</a></li>
                    </ul>-->
                </div>
            </div>
        </div>


<div class="grid_10">
            <div class="box round first grid">
                <h2>
                    Job Seekers  </h2>
                <div class="block">
                    
                
                  
                    <br>
                    <table class="data display datatable" id="jobstable">
					<thead>
						<tr>
							<th>Job Seeker Id</th>
							<th>Name</th>
							<th>Skills </th>
							<th>Experience </th>
							<th >Action </th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd ">
							<td>CS0001</td>
							<td>Alexzander</td>
							<td>JAVA </td>
							<td class="center">5 years</td>
							<td><a class="view">View Details</a></td>
						</tr>
						<tr class="even ">
							<td>CS0002</td>
							<td>Jonathan </td>
							<td>Core JAVA </td>
							<td class="center">10 years</td>
							<td><a class="view">View Details</a></td>
						</tr>
						<tr class="odd ">
							<td>BO0001</td>
							<td>Dylan </td>
							<td>JMX </td>
							<td class="center">20 years</td>
							<td><a class="view">View Details</a></td>
						</tr>
						<tr class="even ">
							<td>BO0002</td>
							<td>Cristian </td>
							<td>Ruby </td>
							<td class="center">9 years</td>
							<td><a class="view">View Details</a></td>
						</tr>
						<tr class="odd ">
							<td>HR0001</td>
							<td>Branden </td>
							<td>Agile,JAVA, Ruby </td>
							<td class="center">6 years</td>
							<td><a class="view">View Details</a></td>
						</tr>
						<tr class="even ">
							<td>HR0002</td>
							<td>Devan </td>
							<td>Agile,JAVA,JMX </td>
							<td class="center">12 years</td>
							<td><a class="view">View Details</a></td>
						</tr>
						<tr class="">
							<td>MK0001</td>
							<td>Jaylon </td>
							<td>Agile,JAVA,</td>
							<td class="center">4 years</td>
							<td><a class="view">View Details</a></td>
						</tr>
						<tr class="">
							<td>MK0002</td>
							<td>Geoffrey </td>
							<td>Agile,DotNet </td>
							<td class="center">3 years</td>
							<td><a class="view">View Details</a></td>
						</tr>
						<tr class="">
							<td>PD0001</td>
							<td>Myles </td>
							<td>Agile,JAVA, Ruby,JMX </td>
							<td class="center">2 years </td>
							<td><a class="view">View Details</a></td>
						</tr>
						<tr class="">
							<td>PD0002</td>
							<td>Brodie </td>
							<td>Agile,JAVA, Ruby,JMX </td>
							<td class="center">12 years</td>
							<td><a class="view">View Details</a></td>
						</tr>
						<tr class="">
							<td>SL0001</td>
							<td>Braiden </td>
							<td>Agile, Ruby,JMX </td>
							<td class="center">8 years</td>
							<td><a class="view">View Details</a></td>
						</tr>
						<tr class="">
							<td>SL0002</td>
							<td>Camron </td>
							<td>Agile,Ruby,JMX</td>
							<td class="center">6 years</td>
							<td><a class="view">View Details</a></td>
						</tr>
						<tr class="">
							<td>TR0001</td>
							<td>Dylon </td>
							<td>Agile,JAVA, Ruby,JMX</td>
							<td class="center">2 years</td>
							<td><a class="view">View Details</a></td>
						</tr>
						<tr class="">
							<td>TR0002</td>
							<td>Konnor </td>
							<td>Agile,JAVA,JMX </td>
							<td class="center">12 years</td>
							<td><a class="view">View Details</a></td>
						</tr>
						
					</tbody>
				</table>
                    
                    
                    
                </div>
            </div>
        </div>