
 <div class="grid_2">

            <div class="box round first grid" style="height: 500px;">
              <h2>
                    Skills </h2>
                <div class="block">
                
                 <table class="data display datatable">
						<thead>
							<tr>
							</tr>
						</thead>
						<tbody>
							<tr  class="gradeA even selected">
								<td ><a  class="filter menuitem">Any</a></td>
							</tr>
							
							<tr  class="gradeA even">
								<td ><a  class="filter menuitem">JAVA</a></td>
							</tr>
							<tr  class="gradeA even">
								<td ><a  class="filter menuitem">JMS </a></td>
							</tr>
							<tr  class="gradeA even">
								<td ><a  class="filter menuitem">DotNet </a></td>
							</tr>
							<tr  class="gradeA even">
								<td ><a  class="filter menuitem">Ruby </a></td>
							</tr>
							<tr  class="gradeA even">
								<td ><a  class="filter menuitem">JEE</a></td>
							</tr>
							<tr  class="gradeA even">
								<td ><a  class="filter menuitem">Grails</a></td>
							</tr>
							<tr  class="gradeA even">
								<td ><a  class="filter menuitem">Spring</a></td>
							</tr>
						</tbody>
					</table>
                    <!--  <ul class="section menu" id="sidemenu">
                    	<li><a class="menuitem" id="all">View All Courses</a></li>
                        <li><a class="menuitem" id="sap">SAP</a></li>
                        <li><a class="menuitem" id="java">JAVA</a></li>
                        <li><a class="menuitem" id="informatica">Informatica</a></li>
                        <li><a class="menuitem" id="oracle">Oracle</a>  </li>
   						<li><a class="menuitem" id="microsoft">Microsoft</a></li>
                        <li><a class="menuitem" id="cms">CMS</a></li>
                    </ul>-->
                </div>
            </div>
        </div>


<div class="grid_10">
            <div class="box round first grid">
                <h2>
                    Job Details </h2>
                <div class="block">
                    
                   
                   <div> <button class="btn btn-orange">Add Job</button></div><div class="clear"></div><br>
                    
                    <table class="data display datatable" id="jobstable">
					<thead>
						<tr>
							<th style="width: 50px;">Job Id</th>
							<th>Job Title</th>
							<th style="width: 100px;">Functional Area</th>
							<th>Brief Description</th>
							<th>Skills </th>
							<th style="width: 65px;">Location</th>
							
						</tr>
					</thead>
					<tbody>
						<tr class="odd ">
							<td>CS0001</td>
							<td>Consulting Senior Practice Director</td>
							<td>Consulting</td>
							<td class="center"> This senior director position is responsible for an increasingly diverse practice based upon complexity of the customers</td>
							<td>JAVA </td>
							<td class="center">CA</td>
						</tr>
						<tr class="even ">
							<td>CS0002</td>
							<td>Principal Consultant</td>
							<td>Consulting</td>
							<td class="center">Service line, technology center, specialty area or region.</td>
							<td>Core JAVA </td>
							<td class="center">CA</td>
						</tr>
						<tr class="odd ">
							<td>BO0001</td>
							<td>Sr Consultant</td>
							<td>Business Operations</td>
							<td class="center">Working closely with the client to understand and manage their expectations,</td>
							<td>JMX </td>
							<td class="center">PA</td>
						</tr>
						<tr class="even ">
							<td>BO0002</td>
							<td>Principal Consultant</td>
							<td>Business Operations</td>
							<td class="center"> Responsible for ensuring that a quality, integrated software solution</td>
							<td>Ruby </td>
							<td class="center">NY</td>
						</tr>
						<tr class="odd ">
							<td>HR0001</td>
							<td>Functional Manager</td>
							<td>Human Resources</td>
							<td class="center">Successful implementation of non-routine and complex business solutions ensuring high quality and timely delivery within budget</td>
							<td>Agile,JAVA, Ruby </td>
							<td class="center">NY</td>
						</tr>
						<tr class="even ">
							<td>HR0002</td>
							<td>Advisor</td>
							<td>Human Resources</td>
							<td class="center"> Performs varied and complex duties and tasks that need independent judgment</td>
							<td>Agile,JAVA,JMX </td>
							<td class="center"></td>
						</tr>
						<tr class="">
							<td>MK0001</td>
							<td>Marketing Director</td>
							<td>Marketing</td>
							<td class="center">Directs business operations and resources of a given practice that can be defined by industry, service line, technology center</td>
							<td>Agile,JAVA,</td>
							<td class="center">CA</td>
						</tr>
						<tr class="">
							<td>MK0002</td>
							<td>Marketing manager</td>
							<td>Marketing</td>
							<td class="center">Accountable for managing the three main pillars of a practice: people management, portfolio/delivery management</td>
							<td>Agile,DotNet </td>
							<td class="center">MI</td>
						</tr>
						<tr class="">
							<td>PD0001</td>
							<td>Chief Architect</td>
							<td>Product Development</td>
							<td class="center">Consulting professional who has an understanding of solutions, business processes, or technology designs within a product/technology family.</td>
							<td>Agile,JAVA, Ruby,JMX </td>
							<td class="center">NJ</td>
						</tr>
						<tr class="">
							<td>PD0002</td>
							<td>System Analyst</td>
							<td>Product Development</td>
							<td class="center"> Directs business operations and resources of a given practice that can be defined by industry, service line, technology center, specialty area or region</td>
						<td>Agile,JAVA, Ruby,JMX </td>
							<td class="center">NJ</td>
						</tr>
						<tr class="">
							<td>SL0001</td>
							<td>Regional Manager</td>
							<td>Sales</td>
							<td class="center"> Operates independently to provide quality work products to an engagement. Performs varied and complex duties and tasks that need independent judgment,</td>
							<td>Agile, Ruby,JMX </td>
							<td class="center">IL</td>
						</tr>
						<tr class="">
							<td>SL0002</td>
							<td>Sales Manager</td>
							<td>Sales</td>
							<td class="center">Accountable for managing the three main pillars of a practice: people management, portfolio/delivery management and sales enablement.</td>
							<td>Agile,Ruby,JMX</td>
							<td class="center">IL</td>
						</tr>
						<tr class="">
							<td>TR0001</td>
							<td>Principal Consultant</td>
							<td>Training</td>
							<td class="center"> Directs business operations and resources of a given practice that can be defined by industry, service line, technology center, specialty area or region.</td>
							<td>Agile,JAVA, Ruby,JMX</td>
							<td class="center">CA</td>
						</tr>
						<tr class="">
							<td>TR0002</td>
							<td>Professor</td>
							<td>Training</td>
							<td class="center">Teaching Operations</td>
							<td>Agile,JAVA,JMX </td>
							<td class="center">LA</td>
						</tr>
						
					</tbody>
				</table>
                    
                    
                    
                </div>
            </div>
        </div>