
<div id="shadepart" style="margin-top: -120px"></div>

<div class="grid_2">
	<div class="box round first grid" style="height: 500px;">
		<h2>Profile</h2>
		<div class="block">
			<table class="data display datatable">
				<thead>
					<tr>
					</tr>
				</thead>
				<tbody>
					<tr class="gradeA even selected">
						<td><a class="company cpmenuitem" data-type="company"
							data-id="company">Company Information</a></td>
					</tr>
					<tr class="gradeA even">
						<td><a class="contact cpmenuitem" data-type="contact" data-id="contact">Contact Information</a></td>
					</tr>
					


				</tbody>
			</table>


		</div>
	</div>
</div>

<div class="grid_10">

	<div class="box round first fullpage">
		<h2>Profile Information</h2>
		<div class="block">


<div style="position:relative">
<div style=" position:absolute; z-index: 500; width: 200px; height: 200px;left: 50%;top: -20px;">
<img width="150px" height="150px" src="assets/img/company-logo.jpg" alt="Logo">
</div>


			<div data-type="company" data-id="company" class="cinfo cactive">
				<table class="form">
				
					<tr>
						<td class="col1"></td>
						<td class="col2"><a
							style="float: right; padding-right: 20%; cursor: pointer;">Edit</a></td>
					</tr>
					<tr>
						<td ></td>
						<td ></td>
					</tr>
					<tr>
						<td><label>Company Name  </label></td>
						<td>mycompany inc.</td>
					</tr>
					<tr>
						<td><label> Established  </label></td>
						<td>1986</td>
					</tr>
					<tr>
						<td><label>Domain Name</label></td>
						<td>mycompanydomain.com</td>
					</tr>
					<tr>
						<td><label>Industry Type</label></td>
						<td>IT Services </td>
					</tr>
					<tr>
						<td><label>Current Activity </label></td>
						<td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</td>
					</tr>
					<tr>
						<td><label>Brief Profile </label></td>
						<td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</td>
					</tr>

				</table>
			</div>
			<div data-type="contact" data-id="contact" class="cinfo">
				<table class="form">
					<tr>
						<td class="col1"></td>
						<td class="col2"><a
							style="float: right; padding-right: 20%; cursor: pointer;">Edit</a></td>
					</tr>
					<tr>
						<td><label>Office Address</label></td>
						<td>789456 Blacow Road,<br> Suite 1200
Glenmoor, CA 94538</td>
					</tr>
					<tr>
						<td><label>Phone</label></td>
						<td>+1 910 525 2560</td>
					</tr>
					<tr>
						<td><label>Fax </label></td>
						<td>+1 910 525 2560</td>
					</tr>

					<tr>
						<td><label>Email </label></td>
						<td>emp@mycompanydomain.com</td>
					</tr>
					
					<tr>
						<td><label>Contact Person Name </label></td>
						<td>David Bowie</td>
					</tr>
					<tr>
						<td><label>Designation in Company </label></td>
						<td>HR Manager </td>
					</tr>
					<tr>
						<td><label>Phone</label></td>
						<td>+1 910 525 2560(002)</td>
					</tr>
					<tr>
						<td><label>Fax </label></td>
						<td>+1 910 525 2560</td>
					</tr>

					<tr>
						<td><label>Email </label></td>
						<td>hr@mycompanydomain.com</td>
					</tr>
				</table>

			</div>

</div>

		</div>
	</div>
</div>
