<div class="grid_10">
	<div class="box round">
		<h2> 
	        SEED Market Place 
	    </h2>
			<div class="block">
			
			<div style="background-image: url(assets/img/aboutus.png); background-repeat: no-repeat; height: 500px; background-position: right bottom;">
			
			<p>SEED Market Place Solutions offer employers and job seekers customized and cost effective <b>Development as a Service</b> (DaaS) packages focused on 5 key cutting-edge IT competencies business skills:  IT Operations, IT Solutions for the Cloud, Critical Thinking, Leadership, and Collaboration. 
			</p>
			<p>
			SEED's emphasis on DaaS distinguishes itself from other programs in 4 fundamental 
ways.  It is...
			
			
			</p>
			<ul id="fundas">
			<li>Self-paced, on-line, mobile-enabled, and social </li>
			<li>Mentor-led and peer-supported </li>
			<li>Accelerated and outcome-driven, and </li>
			<li>Integrated with gradual transition pathways to competitive IT employment</li>
			
			</ul>
			<p>SEED's training packages are accelerated, market-driven, practical, and focused on outcomes students can prove. <br> They are designed by seasoned practitioners to meet a range of skill levels and learning paths such as; an individual, groups, or company-wide. 
			</p>
			</div>
			</div>
	 </div>
	
	 
</div>	 
