<div class="grid_10">
	<div class="box round">
		<h2> 
	        Job Market trends 
	    </h2>
        <div class="block" style="text-align:center">
            <div class="stat-col">
                <span>&nbsp;<br>Active Job Seekers </span>
                <p class="purple">
                    7,000</p>
            </div>
            <div class="stat-col">
                <span>&nbsp;<br>Open positions</span>
                <p class="yellow">
                    9,000
                </p>
            </div>
            <div class="stat-col">
                <span>Avg. # of interviews / placements </span>
                <p class="green">
                    12
                 </p>
            </div>
            <div class="stat-col">
                <span>Avg. # of job seekers considered / placed </span>
                <p class="blue">
                    21
                 </p>
            </div>
            <div class="clear">
            </div>
        </div>
	</div>
</div>

<div class="grid_5">
    <div class="box round">
        <h2>
            Job Seekers
        </h2>
         <div class="block">
             <p class="start">
            Roadblocks to finding employment expediently.
             High underemployment and shortage of relevant skills.
             
             Solution : SEED Market Place
                
                
             </p>

         </div>  
    </div>
</div>                
      
        <div class="grid_5">
            <div class="box round">
                <h2>
                    Employers</h2>
                <div class="block">
                    <p class="start">
                        <img src="assets/img/vertical.jpg" alt="Ginger" class="right" />
                        Challenged in finding new talent and continuous funding for training that is vital for retention and hiring of top talent
                        
                         Solution : SEED Market Place
                    </p>
                    
                        
                </div>
            </div>
        </div>
