<div class="grid_10">
	<div class="box round">
		<h2> 
	        Figures (IT Industry) 
	    </h2>
        <div class="block" style="text-align:center">
            <div class="stat-col">
                <span>Active Job Seekers </span>
                <p class="purple">
                    7,000</p>
            </div>
            <div class="stat-col">
                <span>Open positions</span>
                <p class="yellow">
                    9,000
                </p>
            </div>
            <div class="stat-col">
                <span>Ave. # of interviews / placement </span>
                <p class="green">
                    12
                 </p>
            </div>
            <div class="stat-col">
                <span>Ave. # of job seekers considered / placement </span>
                <p class="blue">
                    21
                 </p>
            </div>
            <div class="clear">
            </div>
        </div>
	</div>
</div>

<div class="grid_5">
    <div class="box round">
        <h2>
            Job Seekers
        </h2>
         <div class="block">
             <p class="start">
                 Lorem ipsum dolor sit
                 amet, consectetur <a href="">adipisicing</a> elit, sed do eiusmod tempor incididunt
                 ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                 ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                 reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur..</p>
             <p>
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                 incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                 exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                 irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                 pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                 deserunt mollit anim id est laborum.</p>
         </div>  
    </div>
</div>                
      
        <div class="grid_5">
            <div class="box round">
                <h2>
                    Employers</h2>
                <div class="block">
                    <p class="start">
                        <img src="assets/img/vertical.jpg" alt="Ginger" class="right" />Lorem Ipsum is simply dummy
                        text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only
                        five centuries, but also the leap into electronic typesetting, remaining essentially
                        unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum.</p>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content
                        of a page when looking at its layout. The point of using Lorem Ipsum is that it
                        has a more-or-less normal distribution of letters, as opposed to using 'Content
                        here, content here', making it look like readable English. Many desktop publishing
                        packages and web page editors now use Lorem Ipsum as their default model text, and
                        a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various
                        versions have evolved over the years, sometimes by accident, sometimes on purpose
                        (injected humour and the like).</p>
                </div>
            </div>
        </div>
