<div class="grid_12">
    <div class="box round first fullpage">
        <h2>
        	Login
        </h2>
        <div class="block">
            
            	<table class="form">
                	<tr>
                    	<td class="col1">
                        	<label>
                            	Username
                            </label>
                    	</td>
                         <td class="col2">
                             <input class="dataValidate-mandatory" type="text" id="username"/>
                         </td>
                    </tr>
                	<tr>
                    	<td class="col1">
                        	<label>
                            	Password
                            </label>
                    	</td>
                         <td class="col2">
                             <input class="dataValidate-mandatory" type="password" id="password"/>
                         </td>
                    </tr>
                    <tr>
                    
	                    <td align="right"> <a style="float: left;text-decoration: underline;cursor: pointer;font-weight: normal;">Forgot Password</a>
							<button id="cancel" class="btn btn-small btn-grey">Cancel</button>&nbsp;&nbsp;
						</td>
						<td >
							&nbsp;&nbsp;<button id="submit" class="btn btn-small btn-orance">Login</button>
						</td>
						
                    </tr>
                 </table>
       
		</div>
		<!--  <div style="text-align:center">
		<a style="float: left;text-decoration: underline;cursor: pointer;">Forgot Password</a>
			<button id="cancel" class="btn btn-small btn-grey">Cancel</button>
			<button id="submit" class="btn btn-small btn-orance">Login</button>
		</div>-->
	</div>		
</div>		              	
