<div class="grid_10">
	<div class="box round">
		<h2> 
	        Training Partners 
	    </h2>
	    <ul>
	    	<li>USC</li>
	    	<li>Stanford</li>
	    	<li>Compucom</li>
	    </ul>
	 </div>
	<div class="box round">
		<h2> 
	        Corporate Partners 
	    </h2>
	    <ul>
	    	<li>Cisco Systems, Inc</li>
	    	<li>Oracle Corporation</li>
	    	<li>IBM</li>
	    </ul>
	 </div>
	<div class="box round">
		<h2> 
	        Technology Partners 
	    </h2>
	    <ul>
	    	<li>SRS Consulting, Inc </li>
	    </ul>
	 </div>
	 <div class="box round">
		<h2> 
			Public Sector Partners	    </h2>
	    <ul>
	    	<li>Work2future</li>
	    	<li>Alameda Country Job site</li>
			<li> NOVA </li>
	    </ul>
	 </div>
	 
	  <div class="box round">
		<h2> 
			Community DEV Partners	    </h2>
	    <ul>
	    	<li>Churches</li><li> Non
profit</li>
			
	    </ul>
	 </div>
	 
</div>	 
