<div class="grid_10">
	<div class="box round">
		<h2> 
	        Training Partners 
	    </h2>
	    <ul>
	    	<li>USC</li>
	    	<li>Stanford</li>
	    	<li>Compucom</li>
	    </ul>
	 </div>
	<div class="box round">
		<h2> 
	        Corporate Partners 
	    </h2>
	    <ul>
	    	<li>Cisco Systems, Inc</li>
	    	<li>Oracle Corporation</li>
	    	<li>IBM</li>
	    </ul>
	 </div>
	<div class="box round">
		<h2> 
	        Technology Partners 
	    </h2>
	    <ul>
	    	<li>SRS Consulting, Inc </li>
	    </ul>
	 </div>
	 
	 
</div>	 
