        <div class="grid_12">
            <div class="box round first fullpage">
                <h2>
                    Registration </h2>
                <div class="block ">
                <div class="form-container">
                    <table class="form">
                        <tr>
                            <td class="col1">
                                <label>
                                    Email Id</label></td>
                            <td class="col2">
                                <input type="text" id="grumble" class="mini dataValidate-mandatory" />                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    Password</label></td>
                            <td>
                                <input type="text" class="mini dataValidate-mandatory" />                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    Retype Password </label></td>
                            <td>
                                <input type="text" class="mini dataValidate-mandatory" />                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    Role</label></td>
                            <td>
                                <select id="select" name="select"  class="dataValidate-mandatory">
									<option value="0"> -------------------- Select  Role -------------------- </option>
                                    <option value="1"> Job Seeker </option>
                                    <option value="2"> Recruiter </option>
                                    <option value="3"> JOB Market expert </option>
									<option value="4"> Skills enrichment provider. </option>
                                </select>                            </td>
                        </tr>
						<tr>
						
						<td colspan="2" align="center"><button id="cancel" class="btn btn-small btn-grey">Cancel</button> <button class="btn btn-small btn-orange" id="submit" >Submit</button></td>
						</tr>
                    </table></div>
                    <div style="display: none;" class="msg message info">
                    
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
   