<div class="grid_10">
	<div class="box round">
       <div class="">
       	<span style="font-size:15pt;font-weight:bold">Sima Yazdani</span>
           <p class="" style="font-size:10pt;">
           	Founder
           </p>
       </div>
       
       <div class="">
       	<span style="font-size:15pt;font-weight:bold">Shirly Wong</span>
           <p class="" style="font-size:10pt;">
           	Chief Marketing Officer
           </p>
       </div>
       
       <div class="">
       	<span style="font-size:15pt;font-weight:bold">Shankar Chowhan</span>
           <p class="" style="font-size:10pt;">
           	VP Engineering
           </p>
       </div>


       <div class="">
       	<span style="font-size:15pt;font-weight:bold">Srinivas Samudrala</span>
           <p class="" style="font-size:10pt;">
           	CTO
           </p>
       </div>
       
       <div class="">
       	<span style="font-size:15pt;font-weight:bold">Chandransu Choudhury</span>
           <p class="" style="font-size:10pt;">
           	Principal Engineer
           </p>
       </div>
       
       <div class="">
       	<span style="font-size:15pt;font-weight:bold">Gautam Joshi</span>
           <p class="" style="font-size:10pt;">
           	Architect
           </p>
       </div>
       
       
       <div class="clear">
       </div>
        
	</div>
</div>	 
