<div class="grid_10">
	<div class="box round">
       <div class="team">
       	<span style="font-size:15pt;font-weight:bold">Our Founder</span><br>
       	<img alt="" src="assets/img/women.jpg" width="100px" height="100px">
           <p class="" style="font-size:10pt;">
           	Founder
           </p>
       </div>
       
       <div class="team">
       	<span style="font-size:15pt;font-weight:bold">Our Marketing Head</span><br>
       	<img alt="" src="assets/img/women.jpg" width="100px" height="100px">
           <p class="" style="font-size:10pt;">
           	Chief Marketing Officer
           </p>
       </div>
       
       <div class="team">
       	<span style="font-size:15pt;font-weight:bold">Our Vice President </span><br>
       	<img alt="" src="assets/img/men.jpg" width="100px" height="100px">
           <p class="" style="font-size:10pt;">
           	VP Engineering
           </p>
       </div>


       <div class="team">
       	<span style="font-size:15pt;font-weight:bold">Our Chief Technology Officer</span><br>
       	<img alt="" src="assets/img/men.jpg" width="100px" height="100px">
           <p class="" style="font-size:10pt;">
           	CTO
           </p>
       </div>
       
       <div class="team">
       	<span style="font-size:15pt;font-weight:bold">Our Principal Engineer</span><br>
       	<img alt="" src="assets/img/men.jpg" width="100px" height="100px">
           <p class="" style="font-size:10pt;">
           	Principal Engineer
           </p>
       </div>
       
       <div class="team">
       	<span style="font-size:15pt;font-weight:bold">Our Architect</span><br>
       	<img alt="" src="assets/img/men.jpg" width="100px" height="100px">
           <p class="" style="font-size:10pt;">
           	Architect
           </p>
       </div>
       
       
       <div class="clear">
       </div>
        
	</div>
</div>	 
