



<div class="grid_12">

	<div class="box round first fullpage">
		<h2>Profile </h2>
		<div class="block">

			<div data-type="personal" data-id="personal" class="info active">
				<table class="form">
                        <tr>
                            <td class="col1">
                                <label>
                                   Email id</label>
                            </td>
                            <td class="col2">
                                <input type="text" id="grumble" class="mini success" readonly="readonly" value="newemp@mydomain.com"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    Contact Number</label>
                            </td>
                            <td>
                                <input type="text" class="mini" value="900-900-9888" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                 First Name</label>
                            </td>
                            <td>
                                <input type="text" class="mini" value="newemp" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                   Last Name</label>
                            </td>
                            <td>
                                <input type="text" class="mini" value="emp"/>
                            </td>
                        </tr>
						 <tr>
                            <td>
                                <label>
                                 Gender</label>
                            </td>
                            <td>
                               <input type="radio" name="gender" checked="checked"> Male <input type="radio" name="gender"> Female
                            </td>
                        </tr>
                        
                       
                        <tr>
                            <td>
                                <label>
                                    Date of birth</label>
                            </td>
                            <td>
                                <input type="text" class="mini" value="11-11-1911" />
                            </td>
                        </tr>
						 <tr>
                            <td>
                                <label>
                                   Residence Status</label>
                            </td>
                            <td>
                                <input type="text" class="mini" value="H1" />
                            </td>
                        </tr>
						<tr>
                            <td>
                                <label>
                                   State</label>
                            </td>
                            <td>
                                <input type="text" class="mini" value="CA" />
                            </td>
                        </tr>
						<tr>
                            <td>
                                <label>
                                   Zip</label>
                            </td>
                            <td>
                                <input type="text" class="mini" value="5555"/>
                            </td>
							</tr>
							
							
							<tr>
							<td>&nbsp;&nbsp;</td>
					   <td >&nbsp;&nbsp;
							<button class="btn btn-grey step" data-type="prof" style="float: left;">Next</button>
							
							</td>
					   </tr>
                       
                       
                       
       </table>
			</div>
			<div data-type="prof" data-id="prof" class="info">
				
				 <table class="form">
                        <tr>
                            <td class="col1">
                                <label>
                                   Current Employer</label>
                            </td>
                            <td class="col2">
                                <input type="text" id="grumble" class="mini" value="" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    Role</label>
                            </td>
                            <td>
                                <input type="text" class="mini" value=""/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                 Years of Experience</label>
                            </td>
                            <td>
                                <input type="text" class="mini" value=""/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                   Education</label>
                            </td>
                            <td>
                                <input type="text" class="mini" value=""/>
                            </td>
                        </tr>
						 <tr>
                            <td>
                                <label>
                                 Certifications</label>
                            </td>
                            <td>
                                <input type="text" class="mini" value=""/>
                            </td>
                        </tr>
                        
         
							<tr>
					     <td  >
							<button class="btn btn-grey step" data-type="personal" style="float:right;">Back</button>&nbsp;&nbsp;
							</td><td>&nbsp;&nbsp;
							<button class="btn btn-grey step" data-type="industry" style="float:left;">Next</button>
							</td>
					   </tr>
                       
                       
                       
       </table>
			</div>
		  <div data-type="industry" data-id="industry" class="info">
				 <table class="form">
                        <tr>
                            <td class="col1">
                                <label>
                                   Industry</label>
                            </td>
                            <td class="col2">
                            	<select id="industry">
									<option value="IT" selected="selected">Information Technology</option>
									<option value="HC">Health Care</option>
									<option value="EDU">Education</option>
								</select>
							</td>
                        </tr>
                         <tr>
                            <td class="col1">
                                <label>
                                   category</label>
                            </td>
                            <td class="col2">
                                 <select id="select" name="select"  class="dataValidate-mandatory">
										<option value="0"> Select  category</option>
	                                    <option value="1">Web Application Development</option>
	                                    <option value="2"> Server Side Development </option>
	                                    <option value="3">Database development</option>
										<option value="4"> Front-End Engineering </option>
										<option value="5"> Cloud Technologies </option>
										<option value="6"> Mobile Application Development </option>
										<option value="7"> Application design & Architecture </option>
										<option value="8">System Administration </option>
										<option value="9">System Administration </option>
										<option value="10">Network Management </option>
                         </select>  
                            </td>
                        </tr>
                        <tr>
					     <td  >
							<button class="btn btn-grey step" data-type="industry" style="float:right;">Back</button>
							&nbsp;&nbsp;
							</td><td>&nbsp;&nbsp;
							<button class="btn btn-orange"  id="submit" style="float:left;">Submit</button>
							</td>
					   </tr>
                        </table>
			</div>


		</div>
	</div>
</div>
