<div class="container_16">
	<div class="grid_3">
		<div class="box round first grid">
		    <h2>
		        Industry
		    </h2>
		    <div class="block">
				<div class="dataTables_wrapper">
					<div class="dataTables_length">
						<label>
							<select id="industry">
					        	<option value="IT">
					        		Information Technology
					        	</option>
					        	<option value="HC">
					        		Health Care
					        	</option>
					        	<option value="EDU">
					        		Education
					        	</option>
					        </select>
						 </label>
					</div>
					<table class="data display datatable" id="industries">
						<thead>
							<tr>
							</tr>
						</thead>
						<tbody>
							<tr data-categoryCode="it_sd" class="gradeA odd selected">
								<td class="">Software Development</td>
							</tr>
							<tr data-categoryCode="it_wad" class="gradeA even">
								<td class="">Web Application Development</td>
							</tr>
							<tr data-categoryCode="it_wad" class="gradeA even">
								<td class="">Server Side Development</td>
							</tr>
							<tr data-categoryCode="it_wad" class="gradeA even">
								<td class="">Server Side Development</td>
							</tr>
							<tr data-categoryCode="it_wad" class="gradeA even">
								<td class="">Front-End Engineering</td>
							</tr>
							<tr data-categoryCode="it_wad" class="gradeA even">
								<td class="">Database development</td>
							</tr>
							<tr data-categoryCode="it_wad" class="gradeA even">
								<td class="">Cloud Technologies</td>
							</tr>
							<tr data-categoryCode="it_wad" class="gradeA even">
								<td class="">Mobile App Development</td>
							</tr>
							<tr data-categoryCode="it_wad" class="gradeA even">
								<td class="">Application design & Architecture</td>
							</tr>
							<tr data-categoryCode="it_wad" class="gradeA even">
								<td class="">System Administration</td>
							</tr>
							<tr data-categoryCode="it_wad" class="gradeA even">
								<td class="">Network Management</td>
							</tr>
							<tr data-categoryCode="it_wad" class="gradeA even">
								<td class="">VoIP Technologies</td>
							</tr>
							<tr data-categoryCode="it_wad" class="gradeA even">
								<td class="">Security</td>
							</tr>
							<tr data-categoryCode="it_wad" class="gradeA even">
								<td class="">ERP</td>
							</tr>						
						</tbody>
					</table>
				</div>	
		    </div>
		</div>
	</div>
	<div class="grid_7">
		<div class="box round first grid">
		    <h2>
		        Positions
		    </h2>
		    <div class="block">
		    	<div class="dataTables_wrapper">
					<div class="dataTables_length">
						<label> Job Grade
							<select id="jobGrade">
					        	<option value="jg_comp">
					        		Compensation
					        	</option>
					        	<option value="jg_level">
					        		Level
					        	</option>
					        </select>
						 </label>
					</div>
					<div class="clear"></div>
					<div id="jobGradeSlider"></div>
					<table class="data display datatable" id="positions"  style="margin:10px 0 0 0">
						<thead>
							<tr>
								<th class="sorting">Title</th>
								<th class="sorting">Location</th>
								<th class="sorting">Date Posted</th>
							</tr>								
						</thead>
						<tbody>
							<tr data-categoryCode="it_sd" class="gradeA odd">
								<td class="">Solutions Architect</td>
								<td class="">Palo Alto, CA</td>
								<td class="">10-FEB-2013</td>
							</tr>
							<tr data-categoryCode="it_sd" class="gradeA odd selected" >
								<td class="">Lead Java Engineer</td>
								<td class="">Santa Clara, CA</td>
								<td class="">10-FEB-2013</td>
							</tr>
							<tr data-categoryCode="it_sd" class="gradeA odd">
								<td class="">Technical Leader</td>
								<td class="">San Jose, CA</td>
								<td class="">12-FEB-2013</td>
							</tr>
							<tr data-categoryCode="it_sd" class="gradeA odd">
								<td class="">Technical Leader</td>
								<td class="">San Jose, CA</td>
								<td class="">12-FEB-2013</td>
							</tr>
							<tr data-categoryCode="it_sd" class="gradeA odd">
								<td class="">IT Engineer</td>
								<td class="">Sunnyvale, CA</td>
								<td class="">22-FEB-2013</td>
							</tr>
							<tr data-categoryCode="it_sd" class="gradeA odd">
								<td class="">Senior Java Developer</td>
								<td class="">Fremont, CA</td>
								<td class="">22-FEB-2013</td>
							</tr>
							
						</tbody>
					</table>
					
				</div>
			</div>	
			<div class="clear"></div>
			
		 </div>
	</div>
	<div class="grid_4">
		<div class="box round first grid">
		    <h2>
		        Recommended Learning
		    </h2>
			<div class="block">
		    	<div class="message data">
	                 <h5>Java Programming Comprehensive Introduction</h5>
   		             <p>
       		          	Course 471, 4 days   
           	    	 </p>
                </div>
		    </div>
			<div class="">
		    	<div class="message data">
	                 <h5>Java Best Practices and Design Patterns</h5>
   		             <p>
       		          	Course 516, 4 days   
           	    	 </p>
                </div>
		    </div>
			<div class="">
		    	<div class="message data">
	                 <h5>Building XML Web Services with Java</h5>
   		             <p>
       		          	Course 516, 4 days   
           	    	 </p>
                </div>
		    </div>
		 </div>
	</div>
	
</div>	
