<div class="container_12">
	<div class="grid_10">
		<div class="box round first grid">
		    <h2>
		        Jobs you might be interested in
		    </h2>
		    <div class="block">
	       		<table class="data display datatable" id="example">
					<thead>
						<tr>
							<th class="sorting">Title</th>
							<th class="sorting">Company</th>
							<th class="sorting">Location</th>
							<th class="sorting">Date Posted</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd gradeX">
							<td>Java J2ee /lead /Tech Lead (Full Time Pr)</td>
							<td>Harrier Infotech, USA Inc./DBA CS Infotek Inc</td>
							<td>Windsor, CT</td>
							<td class="center">Feb-08-2013</td>
						</tr>
						<tr class="even gradeX">
							<td>Java Developer</td>
							<td>Atlantic Partners</td>
							<td>New York, NY</td>
							<td class="center">Feb-11-2013</td>
						</tr>
						<tr class="odd gradeX">
							<td>Web Developer - Java, Maven, Hudson, Spring, Weblogic</td>
							<td>CyberCoders</td>
							<td>Columbus, OH</td>
							<td class="center">Feb-14-2013</td>
						</tr>
						
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="box round first grid">
		    <h2>
		        Upcoming learning
		    </h2>
		    <div class="block">
	       		<table class="data display datatable" id="example">
					<thead>
						<tr>
							<th class="sorting">Title</th>
							<th class="sorting">Start Date</th>
							<th class="sorting">Type</th>
							<th class="sorting">Duration</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd gradeX">
							<td>Advanced Java Training</td>
							<td>MAR-03-2013</td>
							<td>Classroom</td>
							<td class="center">3 days</td>
						</tr>
						<tr class="odd gradeX">
							<td>Android programming</td>
							<td>MAR-03-2013</td>
							<td>Online Training</td>
							<td class="center">1 day</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
	</div>
	<div class="grid_2">
		<div class="box round first grid">
		    <h2>
		        Notifications
		    </h2>
		    <div class="block">
		    	<div class="message success">
	                 <h5>Training Completed</h5>
    	             <p>
        	             Our training partner 'Ascolta' has confirmed that you have successfully completed
        	             the course "VoIP Basics". 
            	     </p>
                 </div>
		    </div>
		    <div class="block">
		    	<div class="message warning">
	                 <h5>Last 2 slots remaining</h5>
    	             <p>
        	      		There are only 2 open slots for the Android mobile apps programing course coming up
        	      		in 3 days.        
            	     </p>
                 </div>
		    </div>
		</div>
		
		
	</div>
</div>

<div class="container_12">
	<div class="grid_10">
	</div>
	
</div>
