
<div id="shadepart" style="margin-top: -120px"></div>

<div class="grid_2">
	<div class="box round first grid" style="height: 500px;">
		<h2>Profile</h2>
		<div class="block">
			<table class="data display datatable">
				<thead>
					<tr>
					</tr>
				</thead>
				<tbody>
					<tr class="gradeA even selected">
						<td><a class="personal pmenuitem" data-type="personal"
							data-id="personal">Personal Information</a></td>
					</tr>
					<tr class="gradeA even">
						<td><a class="prof pmenuitem" data-type="prof" data-id="prof">Professional
								Summary</a></td>
					</tr>
					<tr class="gradeA even">
						<td><a class="skill pmenuitem" data-type="skill"
							data-id="menue">Skill Set</a></td>
					</tr>


				</tbody>
			</table>


		</div>
	</div>
</div>

<div class="grid_10">

	<div class="box round first fullpage">
		<h2>Profile Information</h2>
		<div class="block">

			<div data-type="personal" data-id="personal" class="info active">
				<table class="form">
					<tr>
						<td class="col1"></td>
						<td class="col2"><a
							style="float: right; padding-right: 20%; cursor: pointer;">Edit</a></td>
					</tr>
					<tr>
						<td><label> Email id </label></td>
						<td>js@mydomain.com</td>
					</tr>
					<tr>
						<td><label>Contact Number </label></td>
						<td>(900) 000-1001</td>
					</tr>
					<tr>
						<td><label>First Name </label></td>
						<td>js</td>
					</tr>
					<tr>
						<td><label>Last Name</label></td>
						<td>jobseeker</td>
					</tr>
					<tr>
						<td><label>Gender</label></td>
						<td>Male</td>
					</tr>
					<tr>
						<td><label> Date of birth </label></td>
						<td>10-20-1978</td>
					</tr>
					<tr>
						<td><label>Residence Status </label></td>
						<td>Job Visa</td>
					</tr>
					<tr>
						<td><label>State</label></td>
						<td>CA</td>
					</tr>
					<tr>
						<td><label>Zip</label></td>
						<td>93504
						<td>
					</tr>
					<tr>
						<td><label>Current Employer </label></td>
						<td>mycompany inc.</td>
					</tr>
					<tr>
						<td><label>Role</label></td>
						<td>Sr Software Developer</td>
					</tr>


					<tr>
						<td><label>Years of Experiance </label></td>
						<td>5 years 3 months</td>
					</tr>

				</table>
			</div>
			<div data-type="prof" data-id="prof" class="info">
				<table class="form">
					<tr>
						<td class="col1"></td>
						<td class="col2"><a
							style="float: right; padding-right: 20%; cursor: pointer;">Edit</a></td>
					</tr>
					<tr>
						<td><label>Current Employer </label></td>
						<td>mycompany inc.</td>
					</tr>
					<tr>
						<td><label>Role</label></td>
						<td>Sr Software Developer</td>
					</tr>


					<tr>
						<td><label>Years of Experiance </label></td>
						<td>5 years 3 months</td>
					</tr>
					<tr>
						<td><label>Education </label></td>
						<td>Mtech (Computers)</td>
					</tr>
					<tr>
						<td><label>Certifications </label></td>
						<td>Oracle Certified Developer for Java Web Services</td>
					</tr>
				</table>

			</div>
			<div data-type="skill" data-id="skill" class="info">
				<div class="grid_4">
					<h1>
						Skills <span style="float: right;">
							<button class="btn btn-orange addskill">Add Skills</button>
						</span>
					</h1>
					<div style="background-color: #fff; position: relative;">


						<div id="lightbase" style="margin-top: -60px;">
							<div id="closebut" style="text-align: right">
								<img src="assets/images/close.png" style="cursor: pointer">
							</div>
<form>

							<div class="lightboxcontainersaq">

								<div>

									Choose Skill Set: <select class="skillset">
										<option value="none">--Select--</option>
										<option value="net">Dot Net</option>
										<option value="hib">Hibernate</option>
										<option value="Cs">Communication Skill</option>
									</select>
									<div style="border-bottom: 1px solid #333333; height: 10px"></div>

									<div class="saq net">
										<table cellspacing="0px" class="saqtable">
											<tr class="questions">
												<td>1 . Years of experience ?</td>
											</tr>
											<tr class="answers">
												<td><input type="radio" name="q1" value="1">
													none &gt;2 &nbsp; <input type="radio" name="q1" value="1">
													2-5 &nbsp; <input type="radio" name="q1" value="1">
													5-8 &nbsp; <input type="radio" name="q1" value="1">
													&gt; 8 &nbsp; <input type="radio" name="q1" value="1">
													<br></td>
											</tr>


											<tr class="questions">
												<td>2 . How many is your current experience?</td>
											</tr>
											<tr class="answers">
												<td><input type="radio" name="q2" value="1"> 
												0 to 1 &nbsp; <input type="radio" name="q2" value="1">
													2 to 5 &nbsp; <input type="radio" name="q2" value="1">
													0 to 5 &nbsp; <input type="radio" name="q2" value="1">
													0 to 5 &nbsp; <input type="radio" name="q2" value="1">
													0 to 5 <br></td>
											</tr>


											<tr class="questions">
												<td>3 . How many is your current experience?</td>
											</tr>
											<tr class="answers">
												<td><input type="radio" name="q3" value="1"> 0
													to 1 &nbsp; <input type="radio" name="q3" value="1">
													2 to 5 &nbsp; <input type="radio" name="q3" value="1">
													0 to 5 &nbsp; <input type="radio" name="q3" value="1">
													0 to 5 &nbsp; <input type="radio" name="q3" value="1">
													0 to 5 <br></td>
											</tr>


											<tr class="questions">
												<td>4 . How many is your current experience?</td>
											</tr>
											<tr class="answers">
												<td><input type="radio" name="q4" value="1"> 0
													to 1 &nbsp; <input type="radio" name="q4" value="1">
													2 to 5 &nbsp; <input type="radio" name="q4" value="1">
													0 to 5 &nbsp; <input type="radio" name="q4" value="1">
													0 to 5 &nbsp; <input type="radio" name="q4" value="1">
													0 to 5 <br></td>
											</tr>


											<tr class="questions">
												<td>5 . How many is your current experience?</td>
											</tr>
											<tr class="answers">
												<td><input type="radio" name="q5" value="1"> 0
													to 1 &nbsp; <input type="radio" name="q5" value="1">
													2 to 5 &nbsp; <input type="radio" name="q5" value="1">
													0 to 5 &nbsp; <input type="radio" name="q5" value="1">
													0 to 5 &nbsp; <input type="radio" name="q5" value="1">
													0 to 5 <br></td>
											</tr>



										</table>

<button class="btn btn-orange closediv">Add</button>

									</div>
									<div class="saq hib">
										<table cellspacing="0px" class="saqtable">
											<tr class="questions">
												<td>1 . How many is your current experience?</td>
											</tr>
											<tr class="answers">
												<td><input type="radio" name="q1" value="1"> 0
													to 1 &nbsp; <input type="radio" name="q1" value="1">
													2 to 5 &nbsp; <input type="radio" name="q1" value="1">
													0 to 5 &nbsp; <input type="radio" name="q1" value="1">
													0 to 5 &nbsp; <input type="radio" name="q1" value="1">
													0 to 5 <br></td>
											</tr>


											<tr class="questions">
												<td>2 . How many is your current experience?</td>
											</tr>
											<tr class="answers">
												<td><input type="radio" name="q2" value="1"> 0
													to 1 &nbsp; <input type="radio" name="q2" value="1">
													2 to 5 &nbsp; <input type="radio" name="q2" value="1">
													0 to 5 &nbsp; <input type="radio" name="q2" value="1">
													0 to 5 &nbsp; <input type="radio" name="q2" value="1">
													0 to 5 <br></td>
											</tr>


											<tr class="questions">
												<td>3 . How many is your current experience?</td>
											</tr>
											<tr class="answers">
												<td><input type="radio" name="q3" value="1"> 0
													to 1 &nbsp; <input type="radio" name="q3" value="1">
													2 to 5 &nbsp; <input type="radio" name="q3" value="1">
													0 to 5 &nbsp; <input type="radio" name="q3" value="1">
													0 to 5 &nbsp; <input type="radio" name="q3" value="1">
													0 to 5 <br></td>
											</tr>


											<tr class="questions">
												<td>4 . How many is your current experience?</td>
											</tr>
											<tr class="answers">
												<td><input type="radio" name="q4" value="1"> 0
													to 1 &nbsp; <input type="radio" name="q4" value="1">
													2 to 5 &nbsp; <input type="radio" name="q4" value="1">
													0 to 5 &nbsp; <input type="radio" name="q4" value="1">
													0 to 5 &nbsp; <input type="radio" name="q4" value="1">
													0 to 5 <br></td>
											</tr>


											<tr class="questions">
												<td>5 . How many is your current experience?</td>
											</tr>
											<tr class="answers">
												<td><input type="radio" name="q5" value="1"> 0
													to 1 &nbsp; <input type="radio" name="q5" value="1">
													2 to 5 &nbsp; <input type="radio" name="q5" value="1">
													0 to 5 &nbsp; <input type="radio" name="q5" value="1">
													0 to 5 &nbsp; <input type="radio" name="q5" value="1">
													0 to 5 <br></td>
											</tr>



										</table>
										<button class="btn btn-orange closediv">Add</button>
									</div>
									<div class="saq Cs">
										<table cellspacing="0px" class="saqtable">
											<tr class="questions">
												<td>1 . How many is your current experience?</td>
											</tr>
											<tr class="answers">
												<td><input type="radio" name="q1" value="1"> 0
													to 1 &nbsp; <input type="radio" name="q1" value="1">
													2 to 5 &nbsp; <input type="radio" name="q1" value="1">
													0 to 5 &nbsp; <input type="radio" name="q1" value="1">
													0 to 5 &nbsp; <input type="radio" name="q1" value="1">
													0 to 5 <br></td>
											</tr>


											<tr class="questions">
												<td>2 . How many is your current experience?</td>
											</tr>
											<tr class="answers">
												<td><input type="radio" name="q2" value="1"> 0
													to 1 &nbsp; <input type="radio" name="q2" value="1">
													2 to 5 &nbsp; <input type="radio" name="q2" value="1">
													0 to 5 &nbsp; <input type="radio" name="q2" value="1">
													0 to 5 &nbsp; <input type="radio" name="q2" value="1">
													0 to 5 <br></td>
											</tr>


											<tr class="questions">
												<td>3 . How many is your current experience?</td>
											</tr>
											<tr class="answers">
												<td><input type="radio" name="q3" value="1"> 0
													to 1 &nbsp; <input type="radio" name="q3" value="1">
													2 to 5 &nbsp; <input type="radio" name="q3" value="1">
													0 to 5 &nbsp; <input type="radio" name="q3" value="1">
													0 to 5 &nbsp; <input type="radio" name="q3" value="1">
													0 to 5 <br></td>
											</tr>


											<tr class="questions">
												<td>4 . How many is your current experience?</td>
											</tr>
											<tr class="answers">
												<td><input type="radio" name="q4" value="1"> 0
													to 1 &nbsp; <input type="radio" name="q4" value="1">
													2 to 5 &nbsp; <input type="radio" name="q4" value="1">
													0 to 5 &nbsp; <input type="radio" name="q4" value="1">
													0 to 5 &nbsp; <input type="radio" name="q4" value="1">
													0 to 5 <br></td>
											</tr>


											<tr class="questions">
												<td>5 . How many is your current experience?</td>
											</tr>
											<tr class="answers">
												<td><input type="radio" name="q5" value="1"> 0
													to 1 &nbsp; <input type="radio" name="q5" value="1">
													2 to 5 &nbsp; <input type="radio" name="q5" value="1">
													0 to 5 &nbsp; <input type="radio" name="q5" value="1">
													0 to 5 &nbsp; <input type="radio" name="q5" value="1">
													0 to 5 <br></td>
											</tr>



										</table>
										<button class="btn btn-orange closediv">Add</button>
									</div>
				

								</div>
							</div>

</form>

						</div>
					</div>
					<ul id="gray" class="treeview-gray">
						<li style="background-image: none;"><span>Java Development</span>
							<ul>
								<li><span>Years of experience(&gt;8 years)</span></li>
								<li><span>Core (5/5)</span></li>
								<li><span>Thread programming (5/5)</span></li>
								<li><span>Socket programming(5/5)</span></li>
							</ul></li>
						<li style="background-image: none;"><span>J2EE</span>
							<ul>
								<li><span>Years of experience in JMS (5-8 years)</span></li>
								<li><span>Years of experience in JSP (5-8 years)</span></li>
								<li><span>Years of experience in Servlet (&gt; 8
										years)</span></li>
								<li><span>Web Services SOAP (5-8 years)</span></li>
							</ul></li>
						<li style="background-image: none;"><span>Java Framework Spring</span>
							<ul>
								<li><span>Core Spring (5/5)</span></li>
								<li><span>Spring MVC (5/5)</span></li>
								<li><span>Spring Security (5/5)</span></li>
								<li><span>Spring Integration (5/5)</span></li>
							</ul></li>
						<li style="background-image: none;"><span>Software Design</span>
							<ul>
								<li><span>Year of Experience (5-8 years )</span></li>
								<li><span>OOP (5/5)</span></li>
								<li><span>Thread programming (5/5)</span></li>
								<li><span>Socket programming(5/5)</span></li>
							</ul></li>
						<li style="background-image: none;"><span>Technical Leadership</span>
							<ul>
								<li><span>Years of experience(&gt;8 years)</span></li>
								<li><span>Ave. Team Size (4-10 members)</span></li>
								<li><span>Comfort working with off shore teams?
										(Yes)</span></li>

							</ul></li>

					</ul>
				</div>
				<div></div>
			</div>


		</div>
	</div>
</div>
