



<div class="grid_12">

	<div class="box round first fullpage">
		<h2 class="title">Profile <span >-Company Information</span></h2>
		<div class="block">

			<div data-type="personal" data-id="personal" class="info active" title="-Personal Information">
				<table class="form">
                        <tr>
                            <td class="col1">
                                <label>
                                   Organization Name  </label>
                            </td>
                            <td class="col2">
                                <input type="text" id="grumble" class="mini" value="My Company"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    Establishment Date</label>
                            </td>
                            <td>
                                <input type="text" class="mini" value="04/24/1996" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                 Industry Type </label>
                            </td>
                            <td>
                                <select id="industry">
									<option value="IT" selected="selected">Information Technology</option>
									<option value="HC">Health Care</option>
									<option value="EDU">Education</option>
								</select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                   Current Activities </label>
                            </td>
                            <td>
                                <textarea rows="3" cols="35">
                                
                                
                                </textarea>
                            </td>
                        </tr>
						 <tr>
                            <td>
                                <label>
                                 Brief Profile</label>
                            </td>
                            <td>
                               <textarea rows="3" cols="35">
                               
                               
                               </textarea>
                            </td>
                        </tr>
                        
                       
                       
							
							
							<tr>
							<td>&nbsp;&nbsp;</td>
					   <td >&nbsp;&nbsp;
							<button class="btn btn-grey step" data-type="prof" style="float: left;">Next</button>
							
							</td>
					   </tr>
                       
                       
                       
       </table>
			</div>
			<div data-type="prof" data-id="prof" class="info" title="-Contact Information">
				
				 <table class="form">
                        <tr>
                            <td class="col1">
                                <label>
                                   Office Address </label>
                            </td>
                            <td class="col2">
                                <input type="text"  class="mini" value="" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    Phone Number</label>
                            </td>
                            <td>
                                <input type="text" class="mini" value="900-000-1001"/>
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <label>
                                    Fax</label>
                            </td>
                            <td>
                                <input type="text" class="mini" value="900-000-1001"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                 Email</label>
                            </td>
                            <td>
                                <input type="text" class="mini  success" value="newsp@mydomain.com""/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                   Contact Person</label>
                            </td>
                            <td>
                                <input type="text" class="mini" value=""/>
                            </td>
                        </tr>
						 <tr>
                            <td>
                                <label>
                                 Website Address </label>
                            </td>
                            <td>
                                <input type="text" class="mini" value="mydomain.com"/>
                            </td>
                        </tr>
                        
         
							<tr>
					     <td  align="right">
							<button class="btn btn-grey step" data-type="personal" style="margin-right: 10px;">Back</button>&nbsp;&nbsp;
							</td><td align="left">&nbsp;&nbsp;
								<button class="btn btn-orange"  id="submit">Submit</button>							
							</td>
					   </tr>
                       
                       
                       
       </table>
			</div>
		 


		</div>
	</div>
</div>
