
 <div class="grid_2">

            <div class="box round first grid" style="height: 500px;">
              <h2>
                    Functional Area  </h2>
                <div class="block">
                


			
                
                 <table class="data display datatable">
						<thead>
							<tr>
							</tr>
						</thead>
						<tbody>
							<tr  class="gradeA even selected">
								<td ><a  class="filter menuitem">Any</a></td>
							</tr>
							
							<tr  class="gradeA even">
								<td ><a  class="filter menuitem">SAP</a></td>
							</tr>
							<tr  class="gradeA even">
								<td ><a  class="filter menuitem">JAVA</a></td>
							</tr>
							<!-- <tr  class="gradeA even">
								<td ><a  class="filter menuitem">Informatica</a></td>
							</tr>
							<tr  class="gradeA even">
								<td ><a  class="filter menuitem">Oracle</a></td>
							</tr>
							<tr  class="gradeA even">
								<td ><a  class="filter menuitem">Dot Net</a></td>
							</tr> -->
							
						</tbody>
					</table>
                    <!--  <ul class="section menu" id="sidemenu">
                    	<li><a class="menuitem" id="all">View All Courses</a></li>
                        <li><a class="menuitem" id="sap">SAP</a></li>
                        <li><a class="menuitem" id="java">JAVA</a></li>
                        <li><a class="menuitem" id="informatica">Informatica</a></li>
                        <li><a class="menuitem" id="oracle">Oracle</a>  </li>
   						<li><a class="menuitem" id="microsoft">Microsoft</a></li>
                        <li><a class="menuitem" id="cms">CMS</a></li>
                    </ul>-->
                </div>
            </div>
        </div>


<div class="grid_10">
            <div class="box round first grid">
                <h2>
                    Course Details </h2>
                <div class="block">
                    
                                        
<!-- <div id="lightbox">
<div id="closelightbox" style="width:100%"><img style="cursor:pointer" src="assets/images/close.png"></div>
<div id="datapart" style="float:left">
<img src="assets/images/1.jpg">






</div>
</div> -->





			<div id="addnewcourse">
				<div id="closelightbox2" style="width: 100%">
					<img style="cursor: pointer" src="assets/images/close.png">
				</div>
				<div id="addtitle">Add New Course</div>
				<div style="clear: both"></div>
				<div style="padding-left: 100px">
					
						<table class="form" style="width: 100%">
						<form action="#">
							<tr>
								<td><label> Course Name</label></td>
								<td><input type="text" id="grumble" /> *</td>
							</tr>
							<tr>
								<td><label> Instructor Name</label></td>
								<td><input type="text" /> *</td>
							</tr>
							<tr>
								<td><label> Location</label></td>
								<td><input type="text" /> *</td>
							</tr>
							<tr>
								<td><label> Start Date</label></td>
								<td><input type="text" /> *</td>
							</tr>
							<tr>
								<td><label> Duration</label></td>
								<td><select class="temp3" name="select">
										<option value="1">30 Days</option>
										<option value="2">15 Days</option>
										<option value="3">45 Days</option>
										<option value="4">One Week</option>
								</select></td>
							</tr>



							<tr>
								<td><label> Course Fee</label></td>
								<td><input type="text" id="date-picker" /> *</td>
							</tr>



							<tr>
								<td style="vertical-align: middle"><label> Required
										Skills</label></td>
								<td><select multiple="multiple" style="width: 146px"
									size="4">
										<option>Java</option>
										<option>SAP</option>
										<option>Dot Net</option>
										<option>SAP Securities</option>
										<option>PHP</option>
										<option>Drupal</option>
										<option>Wordpress</option>


								</select></td>
							</tr>


							<tr>
								<td><label> Seat Capacity</label></td>
								<td><input type="text" id="date-picker" /> *</td>
							</tr>


							<tr>
								<td><label> Add Courseware</label></td>
								<td><input type="file" value="Upload" /></td>
							</tr>






							<tr>
								<td style="vertical-align: middle"><label> Upload
										Image</label></td>
								<td><input type="file" value="Upload" /></td>
							</tr>


							<tr>
								<td style="vertical-align: middle"><label> Current
										Status</label></td>
								<td><input type="radio" name="status" value="active"
									checked="checked"> Active &nbsp; <input type="radio"
									name="status" value="inactive"> Inactive</td>
										
							</tr>
								</form>

							<tr>
								<td style="vertical-align: middle"></td>
								<td
									style="padding-left: 30px; height: 50px; vertical-align: middle">

									<input type="submit" class="btn btn-blue" value="Add"
									id="custbtn1"></td>
							</tr>


						</table>

				
				</div>

			</div>
                    
                    
                    
                    <div> <button class="btn btn-orange" id="cust_addnewcourse">Add Course</button></div><div class="clear"></div><br>
                    
                    <table class="data display datatable sptable" id="jobstable">
					<thead>
						<tr>
							<th style="width: 50px;">S.No </th>
							<th style="width: 100px"></th>
							<th style="width: 65px;">Course Name</th>
							<th style="width: 70px;">Instructor Name</th>
							<th style="width: 65px;">Location</th>
							<th style="width: 65px;">Duration</th>
							<th style="width: 65px;">Schedule</th>
							<th style="width: 65px;">Status</th>
							<th style="width: 100px;">Operation</th>
						</tr>

					
				</thead>
					<tbody>
						<!-- <tr class="odd ">
							<td>CS0001</td>
							<td>Consulting Senior Practice Director</td>
							<td>Consulting</td>
							<td class="center"> This senior director position is responsible for an increasingly diverse practice based upon complexity of the customers</td>
							<td class="center">CA</td>
						</tr>
						<tr class="even ">
							<td>CS0002</td>
							<td>Principal Consultant</td>
							<td>Consulting</td>
							<td class="center">Service line, technology center, specialty area or region.</td>
							<td class="center">CA</td>
						</tr>
						<tr class="odd ">
							<td>BO0001</td>
							<td>Sr Consultant</td>
							<td>Business Operations</td>
							<td class="center">Working closely with the client to understand and manage their expectations,</td>
							<td class="center">PA</td>
						</tr>
						<tr class="even ">
							<td>BO0002</td>
							<td>Principal Consultant</td>
							<td>Business Operations</td>
							<td class="center"> Responsible for ensuring that a quality, integrated software solution</td>
							<td class="center">NY</td>
						</tr>
						<tr class="odd ">
							<td>HR0001</td>
							<td>Functional Manager</td>
							<td>Human Resources</td>
							<td class="center">Successful implementation of non-routine and complex business solutions ensuring high quality and timely delivery within budget</td>
							<td class="center">NY</td>
						</tr>
						<tr class="even ">
							<td>HR0002</td>
							<td>Advisor</td>
							<td>Human Resources</td>
							<td class="center"> Performs varied and complex duties and tasks that need independent judgment</td>
							<td class="center"></td>
						</tr>
						<tr class="">
							<td>MK0001</td>
							<td>Marketing Director</td>
							<td>Marketing</td>
							<td class="center">Directs business operations and resources of a given practice that can be defined by industry, service line, technology center</td>
							<td class="center">CA</td>
						</tr>
						<tr class="">
							<td>MK0002</td>
							<td>Marketing manager</td>
							<td>Marketing</td>
							<td class="center">Accountable for managing the three main pillars of a practice: people management, portfolio/delivery management</td>
							<td class="center">MI</td>
						</tr>
						<tr class="">
							<td>PD0001</td>
							<td>Chief Architect</td>
							<td>Product Development</td>
							<td class="center">Consulting professional who has an understanding of solutions, business processes, or technology designs within a product/technology family.</td>
							<td class="center">NJ</td>
						</tr>
						<tr class="">
							<td>PD0002</td>
							<td>System Analyst</td>
							<td>Product Development</td>
							<td class="center"> Directs business operations and resources of a given practice that can be defined by industry, service line, technology center, specialty area or region</td>
							<td class="center">NJ</td>
						</tr>
						<tr class="">
							<td>SL0001</td>
							<td>Regional Manager</td>
							<td>Sales</td>
							<td class="center"> Operates independently to provide quality work products to an engagement. Performs varied and complex duties and tasks that need independent judgment,</td>
							<td class="center">IL</td>
						</tr>
						<tr class="">
							<td>SL0002</td>
							<td>Sales Manager</td>
							<td>Sales</td>
							<td class="center">Accountable for managing the three main pillars of a practice: people management, portfolio/delivery management and sales enablement.</td>
							<td class="center">IL</td>
						</tr>
						<tr class="">
							<td>TR0001</td>
							<td>Principal Consultant</td>
							<td>Training</td>
							<td class="center"> Directs business operations and resources of a given practice that can be defined by industry, service line, technology center, specialty area or region.</td>
							<td class="center">CA</td>
						</tr>
						<tr class="">
							<td>TR0002</td>
							<td>Professor</td>
							<td>Training</td>
							<td class="center">Teaching Operations</td>
							<td class="center">LA</td>
						</tr> -->

					<tr>
					<td>1</td>
						<td style="padding-left: 0;" align="center" valign="middle">
							
							<img src="assets/images/java3.jpg">
							</td>
						
						<td>Java</td>
						<td>John B</td>
						<td>Windsor, CT</td>
						<td>4 Weeks</td>
						<td>9.00AM - 11.00AM</td>
						<td>Active</td>
						<td><span class="viewdetails" id="1">View Details</span>| <a
							href="#">Update</a>
						</td>
					</tr>


					<tr >
					<td>2</td>
						<td  align="center" valign="middle"><img src="assets/images/java6.jpg">
						</td>
						
						<td>Struts</td>
						<td>Sam</td>
						<td>New York, NY</td>
						<td>4 Weeks</td>
						<td>10.00AM - 12.00AM</td>
						<td>Active</td>
						<td><span class="viewdetails" id="2">View Details</span>| <a
							href="#">Update</a>
						</td>
					</tr>


					<tr>
					<td>3</td>
						<td  align="center" valign="middle"><img src="assets/images/sap3.jpg" style="vertical-align: sub">
						</td>
						
						<td>SAP</td>
						<td>Claria</td>
						<td>Columbus, OH</td>
						<td>3 Weeks</td>
						<td>10.00AM - 12.00AM</td>
						<td>Active</td>
						<td><span class="viewdetails" id="3">View Details</span>| <a
							href="#">Update</a>
						</td>
					</tr>

					<tr >
					<td >4</td>
						<td  align="center" valign="middle"><img src="assets/images/sap4.jpg">
						</td>
						
						<td>SAP Securities</td>
						<td>Claria</td>
						<td>Columbus, OH</td>
						<td>3 Weeks</td>
						<td>10.00AM - 12.00AM</td>
						<td>Active</td>
						<td><span class="viewdetails" id="4">View Details</span>| <a
							href="#">Update</a>
						</td>
					</tr>

				</tbody>
				</table>
                    <div id="lightbase">
<div id="loading"><img src="assets/images/loading.gif"></div>

<div id="close" style="text-align:right"><img src="assets/images/close.png" style="cursor:pointer"> </div>

<!--Sap module-->

<div class="lightboxcontainer" id="title3"> <img src="assets/images/image_01.jpg" width="405">
<div class="titlemain">
	<span class="subhead1">You will learn how to </span>
			<ul class="subtitlelist">
						<li>	In Memory Computing (Row Store, Column Store, Persistency Layer, Architectural Concept) </li>
                            
                            <li>HANA based Real-time Operational Analytics HANA based Agile Data Marts for Rapid Prototyping with Analytic Models</li>
                            <li>New Modeling Paradigm in order to provide agility and flexibility from business question to report </li>
							<li>In Memory Computing (Administration and Monitoring)</li>
                            </ul>
                            <table>
                            <tr><td><span style="font-weight:bold">Duration</span></td><td width="20" align="center">:</td><td>15 Days</td></tr>
                            <tr><td><span style="font-weight:bold">Fee</span></td><td align="center">:</td><td>400 USD</td></tr>
                            <tr><td><span style="font-weight:bold">Training Hours</span></td><td align="center"></td><td></td></tr>
                            <tr><td>Classes</td><td align="center">:</td><td>10:00 a.m  - 12:00 a.m</td></tr>
                            </table>
							</div>
</div>
<div class="lightboxcontainer" id="title4"> <img src="assets/images/image_02.jpg" width="405">
							<div class="titlemain">
							<span class="subhead1">You will learn how to </span><br>
							<div style="border:1px solid #0F4E95"></div><br>

                            <ul class="subtitlelist">
								<li>Understanding Data warehousing Methodology</li>
								<li>OLTP vs. OLAP</li>
								<li>DSS Functionality</li>
								<li>Requirement Analysis of BW.</li>							
								<li>Versions of BW</li>							
								<li>Difference between BW &Other D.W.Tools</li>							

							</ul>
                            <table>
                            <tr><td><span style="font-weight:bold">Duration</span></td><td width="20" align="center">:</td><td>15 Days</td></tr>
                            <tr><td><span style="font-weight:bold">Fee</span></td><td align="center">:</td><td>400 USD</td></tr>
                            <tr><td><span style="font-weight:bold">Training Hours</span></td><td align="center">:</td><td>10:00 a.m - 12:00 a.m</td></tr>
                            </table>
							</div>

</div>

<!--Java module-->

<div class="lightboxcontainer" id="title1"> <img src="assets/images/image_03.jpg" width="405">
							<div class="titlemain">
							<span class="subhead1">You will learn how to </span><br>
							<div style="border:1px solid #0F4E95"></div><br>

                            <ul class="subtitlelist">
								<li>Build robust console and GUI applications using Java's object-oriented features</li>
								<li>Create robust applications using Java class libraries</li>
								<li>Develop platform-independent GUIs</li>
							</ul>
                            <table>
                            <tr><td><span style="font-weight:bold">Duration</span></td><td width="20" align="center">:</td><td>One week</td></tr>
                            <tr><td><span style="font-weight:bold">Fee</span></td><td align="center">:</td><td>400 USD</td></tr>
                            <tr><td><span style="font-weight:bold">Training Hours</span></td><td align="center">:</td><td>9:00 a.m to 11:00 a.m</td></tr>
                            </table>
							</div>

</div>



<div class="lightboxcontainer" id="title2"> <img src="assets/images/image_04.jpg" width="405">

							<div class="titlemain">
							<span class="subhead1">You will learn how to </span>
<br>							
                            							<div style="border:1px solid #0F4E95"></div><br>

                            <ul class="subtitlelist">
								<li>Build scalable enterprise web applications with Struts 2</li>
								<li>Detect and report user input errors with the Struts 2 validation framework</li>
								<li>Access data with OGNL and generate results with JSP and Freemarker</li>
							     <li>Write and configure Struts 2 interceptors to achieve modularity and sophisticated functionality</li>
							     <li>Exploit the Struts 2 Tag Library to seamlessly integrate Ajax functionality</li>
							     

                            </ul>
                            <table>
                            <tr><td><span style="font-weight:bold">Duration</span></td><td width="20" align="center">:</td><td>One week</td></tr>
                            <tr><td><span style="font-weight:bold">Fee</span></td><td align="center">:</td><td>400 USD</td></tr>
                            <tr><td height="20"><span style="font-weight:bold">Training Hours</span></td><td align="center">:</td><td>9:00 a.m to 11 a.m</td></tr>
                            
                            </table>
							</div>



</div>




<div class="lightboxcontainer" id="title7"> <img src="assets/images/image_05.jpg" width="405">


	<div class="titlemain">
							<span class="subhead1">You will learn how to </span>
							<br>							
                            							<div style="border:1px solid #0F4E95"></div><br>

                            
                            <ul class="subtitlelist">
								<li>Develop, deploy and monitor web services and web service clients with JAX-WS</li>
								<li>Implement a Service-Oriented Architecture (SOA) using web services</li>
								<li>Create and deploy WSDL-first and code-first web services</li>
							     <li>Build synchronous and asynchronous web service clients in Java</li>
							     <li>Deliver RESTful web services for server-side AJAX</li>
							     

                            </ul>
                            <table>
                            <tr><td><span style="font-weight:bold">Duration</span></td><td width="20" align="center">:</td><td>One week</td></tr>
                            <tr><td><span style="font-weight:bold">Fee</span></td><td align="center">:</td><td>200 USD</td></tr>
                            <tr><td><span style="font-weight:bold">Training Hours</span></td><td align="center"></td><td></td></tr>
                            <tr><td>First Day Orientation</td><td align="center">:</td><td>8:00 a.m  - 9:00 a.m</td></tr>
                            <tr><td>Standard Class Hours</td><td align="center">:</td><td>9:00 a.m - 4:30 a.m</td></tr>
                            
                            </table>
							</div>





</div>



<div class="lightboxcontainer" id="title8"> <img src="assets/images/image_12.jpg" width="405">
						<div class="titlemain">
							<span class="subhead1">You will learn how to </span>
						
                        <br>							
                            							<div style="border:1px solid #0F4E95"></div><br>

                        	<ul class="subtitlelist">
								<li>Employ best practices to rapidly build reliable and scalable Java applications</li>
								<li>Effectively apply Test Driven Development to enhance program maintainability</li>
								<li>Solve architectural problems with proven design patterns </li>
                                <li>Write robust threaded applications and avoid </li>
							     <li>concurrency hazards</li>
							     

                            </ul>
                            <table>
                            <tr><td><span style="font-weight:bold">Duration</span></td><td width="20" align="center">:</td><td>One week</td></tr>
                            <tr><td><span style="font-weight:bold">Fee</span></td><td align="center">:</td><td>500 USD</td></tr>
                            <tr><td><span style="font-weight:bold">Training Hours</span></td><td align="center"></td><td></td></tr>
                            <tr><td>First Day Orientation</td><td align="center">:</td><td>8:00 a.m  - 9:00 a.m</td></tr>
                            <tr><td>Standard Class Hours</td><td align="center">:</td><td>9:00 a.m - 4:30 a.m</td></tr>
                            
                            </table>
							</div>


</div>












<!--Informatica module-->

<div class="lightboxcontainer" id="title5"> <img src="assets/images/image_17.png" width="405">


							<div class="titlemain">
							<span class="subhead1">You will learn how to </span>
							<ul class="subtitlelist">
								<li>	This five-day Informatica Training Program provides the basic skills and knowledge developers who are new to Informatica PowerCenter are required to implement data integration projects, exposing core features of PowerCenter Informatica through lectures and hands-on exercise</li>

                            </ul>
                            <table>
                            <tr><td><span style="font-weight:bold">Duration</span></td><td width="20" align="center">:</td><td>5 Days</td></tr>
                            <tr><td><span style="font-weight:bold">Fee</span></td><td align="center">:</td><td>200 USD</td></tr>
                            <tr><td><span style="font-weight:bold">Training Hours</span></td><td align="center"></td><td></td></tr>
                            <tr><td>Classes</td><td align="center">:</td><td>6:00 a.m  - 8:00 a.m</td></tr>
                            
                            </table>
							</div>



</div>

<div class="lightboxcontainer" id="title6"> <img src="assets/images/image_18.png" width="405">


<div class="titlemain">
							<span class="subhead1">You will learn how to </span>
							<ul class="subtitlelist">
								<li>	This three-day Informatica Training Program complements and extends PowerCenter 8x/9.0 Level One Developer with advanced topics and extended labs.</li>

                            </ul>
                            <table>
                            <tr><td><span style="font-weight:bold">Duration</span></td><td width="20" align="center">:</td><td>3 Days</td></tr>
                            <tr><td><span style="font-weight:bold">Fee</span></td><td align="center">:</td><td>200 USD</td></tr>
                            <tr><td><span style="font-weight:bold">Training Hours</span></td><td align="center"></td><td></td></tr>
                            <tr><td>Classes</td><td align="center">:</td><td>6:00 a.m  - 8:00 a.m</td></tr>
                            
                            </table>
							</div>



</div>


<!--Oracle module-->

<div class="lightboxcontainer" id="title8"> <img src="assets/images/image_20.png" width="405">

							<div class="titlemain">
							<span class="subhead1">You will learn how to </span>
							<ul class="subtitlelist">
								<li>	ORACLE 9I-PROGRAM WITH PL/SQL	</li>
								<li>	ORACLE9I-DATABASE ADMINISTRATION FUNDAMENTALS (PRODUCTION - I)</li>
								<li>	ORACLE9I-DATABASE ADMINISTRATION FUNDAMENTALS (PRODUCTION - II) </li>
								<li>	ORACLE 9I FORMS DEVELOPER-BUILD INTERNET APPLICATIONS </li>
								<li>	ORACLE9I DATABASE: PERFORMANCE TUNING </li>
								<li>	DIPLOMA IN DATABASE ADMINISTRATION USING ORACLE 10G </li>

                            </ul>
                            <table>
                            <tr><td><span style="font-weight:bold">Duration</span></td><td width="20" align="center">:</td><td>30 days</td></tr>
                            <tr><td><span style="font-weight:bold">Fee</span></td><td align="center">:</td><td>700 USD</td></tr>
                            <tr><td><span style="font-weight:bold">Training Hours</span></td><td align="center"></td><td></td></tr>
                            <tr><td>Classes</td><td align="center">:</td><td>6:00 a.m  - 8:00 a.m</td></tr>
                            
                            </table>
							</div>



</div>


<!--Microsoft module-->

<div class="lightboxcontainer" id="title5"> <img src="assets/images/image_21.png" width="405">



<div class="titlemain">
							<span class="subhead1">You will learn how to </span>
							<ul class="subtitlelist">
								<li>	Concepts of relational and object relational databases, SQL programming language, create and maintain database objects and to store, retrieve, and manipulate data. Participants also learn to retrieve data by using advanced techniques such as ROLLUP, CUBE, set operators, and hierarchical retrievalmanage services on any authorized Informatica Platform.</li>

                            </ul>
                            <table>
                            <tr><td><span style="font-weight:bold">Duration</span></td><td width="20" align="center">:</td><td>40 hours</td></tr>
                            <tr><td><span style="font-weight:bold">Fee</span></td><td align="center">:</td><td>200 USD</td></tr>
                            <tr><td><span style="font-weight:bold">Training Hours</span></td><td align="center"></td><td></td></tr>
                            <tr><td>Classes</td><td align="center">:</td><td>3:00 p.m  - 5:00 p.m</td></tr>
                            
                            </table>
							</div>



</div>

<!--CMS module-->
<div class="lightboxcontainer" id="title1"><img src="assets/images/image_13.png" width="405">


<div class="titlemain">
							<span class="subhead1">You will learn how to </span>
							<br>							
                            							<div style="border:1px solid #0F4E95"></div><br>

                            
                            <ul class="subtitlelist">
								<li>	Create robust applications using Java class libraries</li>
								<li>	Develop platform-independent GUIs</li>
								<li>	Read and write data using Java streams </li>
                                <li>	Retrieve data from a relational database with JDBC </li>
							     

                            </ul>
                            <table>
                            <tr><td><span style="font-weight:bold">Duration</span></td><td width="20" align="center">:</td><td>One week</td></tr>
                            <tr><td><span style="font-weight:bold">Fee</span></td><td align="center">:</td><td>400 USD</td></tr>
                            <tr><td><span style="font-weight:bold">Training Hours</span></td><td align="center"></td><td></td></tr>
                            <tr><td>First Day Orientation</td><td align="center">:</td><td>8:00 a.m  - 9:00 a.m</td></tr>
                            <tr><td>Standard Class Hours</td><td align="center">:</td><td>9:00 a.m - 4:30 a.m</td></tr>
                            
                            </table>
							</div>




</div>

<!--title part ends here============================================================================================================================================-->













</div>
                    
                    
                </div>
            </div>
        </div>