/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*    */
#courcess {
    min-height:800px;
    margin-bottom: -7px;
    margin-left: -4px;
    margin-top: -8px;
    text-align: center;
    vertical-align: top;
    width:auto;
}



#courcess ul{
    list-style:none;
}

#courcess img{
    border: 3px double #2e5e79;
    border-radius:10px 10px 0 0;
}

#courcess ul li {
    background: -moz-linear-gradient(center top , #E1F2FC, #CAE9FD) repeat scroll 0 0 transparent;
    border: 1px solid #CADCEA;
    color: #225B86;
    text-shadow: 0 1px 0 #FFFFFF;
    border-radius:10px 10px 0 0;
    float: left;

    min-height:325px;
    margin: 25px 0px 0 30px;
    width: 260px;
    padding: 10px 10px 0px 10px;
    text-align:left;
}
